.Portfolio {
    margin: 8px;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 95%;
    box-shadow: 1;
    border-radius: 2;
    border: '1px solid red';
}

.portfolioBlockContainerWrapper {
}

.portfolioBlockContainer {
}

.portfolioOuterBlock {
    padding: 30px;
    border-radius: 5px;
}

.portfolioInnerBlock {
    padding: 30px;
    border-radius: 5px;
}

.portfolioInnerBlock:hover {
    background-color: rgba(255, 255, 255, 0.158);;
}

.portfolioOuterBlock:hover {
    background-color: rgba(255, 255, 255, 0.158);;

}

.portfolioBlock:hover {
    background-color: rgba(255, 255, 255, 0.158);;
}
