.githubAvatar {
    width: 30px;
    max-height: fit-content;
    transform: translate(0%, 50%);
    margin: 5px;
    object-fit: contain;
    min-height: auto;
}

.repoList {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: row;
    align-content: stretch;
    row-gap: 2vh;
}

.repoListItem {
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.158);
    border-radius: 6px;  
    margin: 5px;
    width: 23vh;
    flex-grow: 1;
    overflow: hidden;
}

.repoListItem:hover {
    background-color: rgba(150, 150, 150, 0.158);

}

.noWrap {
    white-space: nowrap;
}

.coding {
    overflow: hidden;
}

.repoName {
    font-weight: bold;
}

.repoDesc {

}

.repoInnerCard, .repoInnerCard:link{
    padding: 6px;
    font-weight: lighter;
    font-style: normal;
    text-decoration: none;
    color: white; 
}
