.githubAvatar {
    width: 30px;
    max-height: fit-content;
    transform: translate(0%, 50%);
    margin: 5px;
    object-fit: contain;
    min-height: auto;
}

.repoList {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: row;
    align-content: stretch;
    row-gap: 25px;
}

.repoListItem {
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 6px;  
    margin: 5px;
    width: 20vh;
    flex-grow: 1;
    overflow: hidden;
}

.coding {
    overflow: hidden;
}

.repoName {
    font-weight: bold;
}

.repoDesc {
    font-weight: lighter;
}

.repoInnerCard {
    padding: 6px; 
}