.componentStyle {
    border: 1px solid #606060;
    padding: 15px;
    margin: 15px;
    display: inline-block;
    /* color: white; */
    border-radius: 3px;
}

.componentStyle:hover {
    background-color: #292929;
}