.mainPage {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");

.pageItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.particleWrapper {}

.particleCanvas {}